<div class="personal left">
  <div class="panel profile">
    <h2><%=@user.name%></h2>

      <%= image_tag @user.gravatar_url, class: 'profpic' %>

    <div class="profile_content_wrap">
      <p>
        <a href=<%= href_to_twitters_user(@user) %>><%= image_tag("twitter_black_logo.jpg")%></a>
        <a href=<%= href_to_twitters_user(@user) %>><%= "@#{@user.try(:twitter_handle)}" %></a>
      </p>

      <% if @user.bio %>
        <h4><%= @user.first_name %>'s bio:</h4>
        <blockquote>
          <%=  @user.bio%>
        </blockquote>
      <% end %>

    </div>
  </div>

  <% if @user.interests %>
    <div class="panel profile interests">
        <h4>I'd like to mentor on these topics:</h4>
        <blockquote><%=  @user.interests %></blockquote>
    </div>
  <% end %>
</div>

<div class="appointments right">
  <div class="heading panel">
    <h2> Available Appointments </h2>
  </div>

  <% @user.availabilities.visible.order("start_time").each do |a| %>
  <div class="panel">
    <p>
      <span aria-hidden="true" class="icon" data-icon="&hearts;"></span>
      <%= link_to a.mentor.name, user_path(a.mentor) %>
      on <%= display_availability(a) %>
      <%= link_to "Sign up", new_appointment_request_path(:availability_id => a.id) %>
    </p>
  </div>
  <% end %>
</div>
